.card {
    padding: 17px 25px;
    background: $light-4-color;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 4px;
    word-wrap: break-word;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
    &-none-fill {
        align-self: flex-start;
    }

    &-title {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 19px;
        color: $dark-1-color;
    }

    &-header{ 
        display:flex;
        gap: 8px;
    }
}