@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Fonts
$base-font: 'Inter',
sans-serif;

// Color
$sapphire-blue-color: #003084;
$black-color: #000;
$white-color: #fff;
$success-color: #35B26F;
$light-0-color: #E4E4EB;
$light-1-color: #EBEBF0;
$light-2-color: #F2F2F5;
$light-3-color: #FAFAFC;
$light-4-color: #FFFFFF;
$primary-color: #3E7BFA;
$dark-0-color: #1C1C28;
$dark-1-color: #28293D;
$dark-2-color: #555770;
$dark-3-color: #8F90A6;
$dark-4-color: #C7C9D9;
$dark-gray-02: #4f4f4f;
$dark-gray-04: #e1e1e4;
$gray-5-color: #919191;
$red-1-color: #FF3B3B;
$red-5-color: #fdd6d6;
$green-1-color: #06C270;
$green-4-color: #E3FFF1;
$yellow-2-color: #FDDD48;
$bg-tooltip-color: #191919;